body {  
    font-family: Arial, sans-serif;  
    background-color: #f8f9fa; /* Màu nền sáng */  
    color: #333; /* Màu chữ tối */  
    margin: 0;  
    padding: 0;  
}  
  
.container {  
    margin: auto; /* Căn giữa */  
}  

.card {  
    border-radius: 8px; /* Bo góc cho thẻ */  
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Đổ bóng cho thẻ */  
    overflow: hidden; /* Ẩn phần tràn ra ngoài */  
}  

.card-header {  
    background-color: blue; /* Màu nền cho header */  
    color: #fff; /* Màu chữ trắng */  
    padding: 20px 0; /* Khoảng cách trên và dưới */  
    text-align: center; /* Căn giữa chữ trong header */  
}  

.card-body {  
    padding: 30px; /* Khoảng cách trong body */  
}  

.form-group {  
    margin-bottom: 25px; /* Khoảng cách giữa các nhóm input */  
}  

label {  
    font-weight: bold; /* Đậm cho label */  
    display: block; /* Giúp label đứng trên một dòng */  
    margin-bottom: 5px; /* Khoảng cách dưới label */  
}  



input:focus {  
    border-color: #343a40; /* Màu đường biên khi focus */  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng khi focus */  
}  

.text-danger {  
    color: #e3342f; /* Màu đỏ cho thông báo lỗi */  
}  

.d-grid {  
    margin-top: 30px; /* Khoảng cách trên nút đăng ký */  
}  

.btn {  
    background-color: blue; /* Màu nền cho nút */  
    color: #fff; /* Màu chữ trắng */  
    border: none; /* Bỏ đường viền */  
    padding: 15px; /* Đệm cho nút */  
    border-radius: 4px; /* Bo góc cho nút */  
    text-transform: uppercase; /* Chữ in hoa */  
    cursor: pointer; /* Con trỏ khi hover */  
    font-size: 16px; /* Kích thước chữ trong nút */  
    transition: background-color 0.3s; /* Hiệu ứng chuyển động cho nút */  
}  

.btn:hover {  
    background-color: orange; /* Màu nền khi hover */  
}  

.already-account {  
    display: block; /* Hiển thị trên dòng mới */  
    text-align: center; /* Căn giữa */  
    margin-top: 15px; /* Khoảng cách trên */  
    color: #343a40; /* Màu chữ */  
    text-decoration: none; /* Bỏ gạch chân */  
}  

.already-account:hover {  
    text-decoration: underline; /* Gạch chân khi hover */  
}  

footer {  
    text-align: center; /* Căn giữa footer */  
    margin-top: 20px; /* Khoảng cách trên */  
    color: #616161; /* Màu chữ nhạt */  
}  